<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!--<add key="tridion-cm-url" value="http://52.17.130.35"/>-->
    <add key="tridion-cm-url" value="http://dev-cm.fujitsu.com"/>
    <add key="username" value="Administrator"/>
    <add key="domain" value="."/>
    <add key="password" value="Tr1v1d3nt"/>
    <add key="coreservice-version" value="201603"/>
    <!--<add key="trust-all-ssl-certificates" value="true"/>-->

  <!--
      <add key="tridion-cm-url" value="http://52.17.130.35"/>
    <add key="username" value="Administrator"/>
    <add key="domain" value="."/>
    <add key="password" value="Tr1v1d3nt"/>
    <add key="coreservice-version" value="201603"/>
  -->
  </appSettings>
</configuration>